<fieldset class="contact-form">
	<%= form_tag '/contact', method: "post", id: "contact-form" do -%>
		<%= hidden_field :subscription, :contact_type, value: contact_type %>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= email_field :subscription, :email,   
					{id: "email",   placeholder: "dirección de correo", class: "form-control", required: true} %>
				</div>
				<div class="form-group">
					<%= text_field :subscription,  :name,    
					{id: "name",    placeholder: "nombre", class: "form-control", required: true} %>
				</div>
				<div class="form-group">
					<%= text_field :subscription,  :phone,   
					{id: "phone",   placeholder: "teléfono", class: "form-control", required: true} %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<%= text_field :subscription,  :address, 
					{id: "address", placeholder: "direccion", class: "form-control"} %>
				</div>
				<div class="form-group">
					<%= text_field :subscription,  :city,    
					{id: "city",    placeholder: "ciudad", class: "form-control"} %>
				</div>
				<div class="form-group">
					<%= text_field :subscription,  :state,   
					{id: "state",   placeholder: "estado", class: "form-control"} %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= text_area :subscription,  :message, 
					{id: "message", placeholder: "mensaje", rows: "5", class: "form-control"} %>
				</div>

				<%= submit_tag "¡Enviar!", class: "btn btn-default" %>
			</div>
			
		</div>

		
	<% end %>
</fieldset>