<%
title full_title('Acerca de')
description "Somos una start up de comida a domicilio, ubicada en la ciudad de Guadalajara."
keywords ['Startup', 'comida', 'empresa', 'emprendimiento guadalajara', 'emprendimiento', 'mexicanos', 'exatec']
%>
<div class="wrapper-sides">
<h1>Nosotros</h1>

<p>A quien no le gusta la deliciosa comida que prepara nuestra mamá o abuelita! Bueno a eso nos dedicamos en Neighbourfood, encontramos comida casera creada de la forma tradicional de los hogares Mexicanos y la llevamos hasta tu puerta. Nos aseguramos de que todos los cocineros cumplan con los estándares de higiene y calidad que a nosotros mismos nos gusta que tengan los lugares a los que vamos a comer y también de que la comida sea deliciosa! </p>

<h4>Misión</h4>

<p>Nuestra mision es proveer de comida deliciosa y casera a todas las personas que por cuestiones de tiempo o de habilidad no pueden cocinarse un delicioso platillo.</p>

<h4>Visión</h4>

<p>Tener presencia en todos los estados del pais para el final de 2016 y ayudar a los Mexicanos a que puedan provar la comida de las personas expertas en la preparacion de la comida casera.</p>

</div>