<%
title full_title('Empresa')
description "Somos una empresa comprometida con la sociedad, brindando una 
plataforma para que la economía colectiva nos acerque a más y mejores servicios."
keywords ['economía colectiva', 'startup', 'empresa', 'emprendedor', 'comida']
%>
<div class="container">
<a name="company"></a>
<h1>Compañia</h1>

<p>
El 87.2 de la población mexicana prefiere comida casera por

encima de comida rápida, puestos callejeros y restaurantes. NFood es la 

plataforma que te acerca a ese sazón que te recuerda las comidas familiares, 

además de cuidar las porciones para tener una comida balanceada. Ya no es 

pretexto el no poder salir de la oficina para buscar comida casera o el no tener 

platillos saludables en la mesa. 
</p>

<p>
NFood surge de la necesidad de tener comida casera a unos cuantos clics de 

distancia. Estamos apasionados con el poder brindarte el mejor sazón y es por 

eso que seleccionamos cuidadosamente a nuestros socios cocineros para 

brindarte la mejor calidad e higiene. 
</p>

<p>
NFood, no solo es un proyecto que te acerca a la comida casera y saludable, si 

no también una iniciativa que surge ante el gran desempleo que vive nuestro 

país, siendo NFood una opción para tener ingersos extras por parte de nuestros 

socios cocineros, desde casa.
</p>

<a name="jobs"></a>
<h2>Únete a nuestro equipo</h2>

<p>¿Quieres unirte a nuestro increíble equipo?</p>

<p>NFood ofrece la mejor plataforma para acercarte a la comida casera de tu vecindario, pero también nos divertimos. Nos enorgullecemos  de nuestra cultura que valora el pensamiento crítico y la pasión por crear mejores y nuevas soluciones. Tenemos diversas vacantes y constantemente estamos contratando. </p>

<p>NFood es una empresa en la que que no enorgullecemos de su calidad y su excelencia. Buscamos personas con espíritu emprendedor y con pasión por las soluciones tecnológicas. La cultura de la empresa está centrada en ofrecer soluciones de alimentación y generar fuentes de ingreso para personas con habilidades culinarias. </p>

<ul>
<li>Tu trabajo importa y tendrás un papel clave en el crecimiento de NFood.</li>
<li>Tu trabajo será desafiante.</li>
<li>Medimos la excelencia a través de nuestra habilidad de mejorar nuestra sociedad, no solamente de nuestras ganancias.</li>
<li>Le damos la oportunidad a aquellos que toman la responsabilidad.</li>
</ul>


<br/>
<h4>DESAROLLO: ¿Eres un apasionado de la computadora y te ama la tecnología?</h4>

<ul>
<li>Desarrollador de backend.</li>
<li>Desarrollador de frontend.</li>
<li>Arquitecto de software. </li>
<li>Desarrollador IOS.</li>
<li>Desarrollador Android. </li>
</ul>

<br/>
<h4>DISEÑO: ¿Te gusta innovar y crear? </h4>

<ul>
<li>Diseñador corporativo.</li>
<li>Diseñador gráfico.</li>
</ul>

<br/>
<h4>MERCADOTECNIA Y VENTAS: ¿Fascinado por el comportamiento del consumidor?</h4>

<ul>
<li>Community manager. </li>
<li>Mercadotecnia digital.</li>
<li>Publicista.</li>
<li>Atención al cliente.</li>
<li>Ventas. </li>
</ul>

<br/>
<p>Mándanos tu CV a <a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></p>
</div>