<%
title full_title('Cocineros')
description "Comienza a generar ingresos extras desde casa registrándote en NeighbourFood. Buscamos excelentes cocineros con sazón casero."
keywords ['ingresos extra', 'empleo', 'guadalajara', 'trabaja desde casa', 
  'cocineros', 'amas de casa', 'cocineras', 'tercera edad']
%>
<div class="container">

<h1>Contacto de socios cocineros</h1>

<div class="row">
  <div class="col-md-6">

    <p>Ser un socio cocinero con NFood te brinda la posibilidad de cocinar desde casa y generar ingresos extra. ¡Es muy fácil!, sube tus platillos a la plataforma y recibe las órdenes de los pedidos. </p>

    <p>¿Quieres conocer más acerca de ser un socio cocinero?, la mejor forma para generar ingresos desde casa te está esperando, aclara cualquier duda que tengas en el siguiente formulario.</p>

    <p>¿No tienes dudas y quieres comenzar tu registro para ser parte del equipo NFood como socio cocinero? Realiza el registro entrando a <a href="#">registro de socios cocineros</a>.</p>
      
    <ul>
      <li>Correo electrónico: <a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></li>
      <li>Teléfono: <a href="tel:+52-1-33-1399-0678">+52 1 33 1399 0678</a></li>
    </ul>

  </div>

  <div class="col-md-6">
    <img src="/images/kitchen_banner.jpg" class="img-responsive">
  </div>

</div>

<%= render 'contact_form', contact_type: :cookers %>

</div>