<%
title full_title('Servicio')
description "Tu satisfacción en el servicio y el producto son nuestra prioridad, estamos abiertos a tus comentarios."
keywords ['email', 'NeighbourFood', 'NFood', 'NeighborFood', 'dirección']
%>
<div class="container">

<h1>Contacto Servicio</h1>

<div class="row">
  <div class="col-md-6">

    <p>Muchas gracias por confiar en nosotros!, NFood es la plataforma que te acerca al sazón casero. ¡Es muy sencillo!, la página detecta tu ubicación y te muestra los socios cocineros de tu zona para que ordenes la comida casera y nutritiva que más se te antoje.</p> 

    <p>¿Te encuentras en una zona donde no tenemos servicio aún o simplemente quieres saber más acerca de NFood?, te pedimos de favor llenes los siguientes datos.</p>

    <p>¿No tienes dudas?, comienza a disfrutar de los mejores platillos caseros de tu vecindario, regístrate gratis en <a href="http://test.neighbourfood.mx/general_users/sign_up">registro usuarios</a>. </p>
      
    <ul>
      <li>Correo electrónico: <a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></li>
      <li>Teléfono: <a href="tel:+52-1-33-1399-0678">+52 1 33 1399 0678</a></li>
    </ul>

  </div>

  <div class="col-md-6">
    <img src="/images/meat_banner.jpg" class="img-responsive">
  </div>

</div>

<%= render 'contact_form', contact_type: :cookers %>

</div>