<%
title full_title('Contacto')
description "En NeighbourFood sabemos lo importante que son tus comentarios, por lo que cualquier duda o sugerencia la leemos con detenimiento. "
keywords ['email', 'NeighbourFood', 'NFood', 'NeighborFood', 'dirección']
%>
<div class="container">
<h1>Contacto</h1>

<p>¡Felicidades! Haz dado el primer paso para recibir la comida casera mas deliciosa del vecindario.
Por favor si te gustaria que llevaramos nuestras delicias a tu zona, llena los datos siguientes:</p>

<ul>
<li>Correo electrónico: <a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></li>
<li>Teléfono: <a href="tel:+52-1-33-1399-0678">+52 1 33 1399 0678</a></li>
</ul>

<%= render 'contact_form', contact_type: :general %>

</div>