<%
title full_title('Ayuda')
description "¿Tienes problemas o dudas con la plataforma de NeighbourFood?, dinos el problema, nosotros te ayudamos. "
keywords ['Ayuda', 'dudas', 'comentarios', 'inquietudes', 'mejoras', 'retroalimentación', 
  'NeighbourFood', 'NFood', 'NeighborFood']
%>
<div class="container">
<h1>Ayuda</h1>

<a name="guides"></a>
<h2>Guías de ayuda</h2>

<img src="images/4_pasos_simples.png" class="img-responsive" style="margin: 0 auto;">

<a name="faq"></a>
<h2>Preguntas Frecuentes</h2>

<h4>¿Qué tipo de comida puedo ordenar en NeighbourFood?</h4>
<p>En NeighbourFood vendemos todo tipo de comida casera, la cocina tradicional mexicana tal y como la cocinaba la abuela, ¡eso es lo que puedes encontrar aquí!</p>

<h4>¿Cómo ordenar?</h4>
<p>Lo primero que tienes que hacer es seleccionar la comida que sea de tu agrado, dar clic en ordenar y después puedes elegir tus guarniciones y el sabor de tu agua en la zona de comentarios sobre la comida, o puedes contactarnos por Whatsapp para hacer tus pedidos una vez que los hayas elegido. </p>

<h4>¿Si el platillo que me gusta está en otra zona qué puedo hacer?</h4>
<p>Puedes enviarnos un correo a contacto@neighbourfood.mx para decirnos cuál es el platillo que te gusta, así nosotros podemos sugerir a las cocineras en tu zona.</p>

<h4>¿Cuál es el tiempo de entrega?</h4>
<p>Se tienen horarios de entrega, el primero es de 12:30 a 1:00PM con un tiempo de espera de aproximadamente 25 min y el segundo es de 2:15 a 3:00PM con el mismo tiempo de espera. Tú puedes recibir tu pedido dentro de estos tiempos y nosotros nos aseguraremos de que sepas cuando tu pedido haya llegado.</p>

<h4>¿Cuáles son las formas de pago?</h4>
<p>Se puede pagar a traves de PayPal o en efectivo. Próximamente contaremos con pago directamente con tarjeta de crédito y debito.</p>

<h4>¿Hay cargos por pedir a domicilio?</h4>
<p>¡El envio es totalmente gratis!</p>

<h4>¿Quién cocina mi comida?</h4>
<p>La cocinan cocineros con mucha experiencia en comida casera, tal y como las abuelas de antaño lo hacían en sus casas cuando éramos pequeños, solo que ahora llegan hasta tu oficina para llevarte sus delicias.</p>

<h4>¿Quién entrega mi comida?</h4>
<p>La misma persona que cocina es la persona que entrega tu comida, así que si te gustó su comida puedes personalmente darle las gracias y ¿por qué no?, hasta un abrazo. </p>

<h4>¿Debo dar propina a la persona que entrega mi comida?</h4>
<p>La propina siempre es voluntaria, si te gusto el servicio de tu cocinera, eres libre de darla.</p>

<h4>¿Qué pasa si no alcanzo a recoger mi pedido?</h4>
<p>Te haremos saber que tu pedido está en tu puerta para que puedas recogerlo, de lo contrario el pedido regresará con la señora que lo cocinó y podrás pasar a recogerlo con ella, o si tu lo deseas podemos dárselo a alguna persona de escasos recursos que no tenga que comer, tú decides.</p>

<h4>¿Qué puedo hacer si tengo cualquier duda sobre el servicio que no se encuentre en estos FAQ?</h4>
<p>Si no hemos dado respuesta a alguna de tus preguntas siempre puedes contactarnos en el correo contacto@neighbourfood.mx y enviarnos todas tus dudas, inquietudes, felicitaciones, regaños o abrazos. Siempre estaremos dispuestos a responderte con la amabilidad de nuestra gente.</p>


<a name="resources"></a>
<!-- h2>Recursos</h2-->

<a name="support"></a>
<h2>Contacto de soporte</h2>

<p>Pueden contactarnos en whatsapp, inbox o correo electrónico:</p>
<ul>
  <li>+52 (33) 1399-0678</li>
  <li><a href="https://www.facebook.com/neighbourfoodmx">Facebook</a></li>
  <li><a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></li>
</ul>






</div>