<%
title full_title('Legal')
description "Consulta los términos y condiciones de NeighbourFood, así como el acuerdo de privacidad. "
keywords ['terminos y conidiciones', 'acuerdo de privacidad', 'legal']
%>
<div class="container">
<h1>Legal</h1>

<a name="termns"></a>
<h2>Términos de Servicio</h2>

<p>Neighbourfood reserva el derecho de hora de entrega a los cocineros que trabajan con nosotros, esto significa que la hora de entrega de cada una de las comidas adquiridas a través de la plataforma serán entregadas en el lugar establecido en un plazo no mayor a 20 minutos, por lo que al ser cumplido este lapso de tiempo la persona que entrega la comida tiene el derecho a retirarse y hacer lo que se indico en la página en caso de que el cliente no se presentara al momento de la entrega. Así mismo cancelaciones de pedidos sólo pueden realizarse hasta una hora antes de la hora de entrega debido a que de lo contrario se incurriría en una afectación a los socios cocineros de Neighbourfood.</p>

<p>Al ordenar una comida, el cliente está aceptando estos términos y condiciones asi como también la política de privacidad, si alguna persona no está conforme con lo anterior, no debe utilizar la plataforma y se le invita a que envíe un correo a contacto@neighbourfood.mx con sus inquietudes.</p>

<p>Al ser estos enunciados propiedad de Neighbourfood, nos reservamos el derecho a modificarlos en cualquier momento.</p>

<a name="privacy"></a>
<h2>Política de Privacidad</h2>


<p>El Usuario declara conocer y aceptar la política de confidencialidad y se obliga a guardar absoluta reserva sobre los datos aquí proporcionados. Toda la información personal proporcionada por el Usuario, incluidos los datos de entrega, en los casos en que es procedente, es responsabilidad exclusiva de quien la aporta. La información ingresada por el Usuario, será utilizada por Neighbourfood para registrarlo en los programas y servicios que se prestan terceros, crear cuentas personales, procesarla para el seguimiento de los pedidos, contestar correos electrónicos y proporcionar información con respecto a su cuenta, como pedidos a domicilio, así como al servicio de recolección en cocineros contratados con Neighbourfood® y terceros. Neighbourfood® se reserva el derecho de usar esta información para enviar correos electrónicos con información relativa a su cuenta o pedidos solicitados, como también para enviar información sobre promociones, productos o servicios. El Usuario, podrá en cualquier momento solicitar el cese de envío de los correos electrónicos. Neighbourfood® no venderá, arrendará o intercambiará con terceros la información personal proporcionada por el o los Usuarios.</p>


<h2>Propiedad Intelectual e Industrial</h2>

<p>El contenido, organización, gráficas, diseño, compilación y otros aspectos del Sitio se encuentran protegidos por leyes de Propiedad Intelectual. Su copia, redistribución, uso o publicación, total o parcial, está prohibida por la ley. La publicación o transmisión de información o documentos en el Sitio, no constituye una renuncia de cualquier derecho relacionado con tales documentos o información. Neighbourfood® hace expresa la reserva del ejercicio de todas las acciones administrativas, mercantiles, civiles como penales, destinadas al resguardo de sus legítimos derechos de propiedad intelectual e industrial.</p>


<h2>Acceso al Sitio</h2>

<p>El acceso al Sitio y a sus ofertas está restringido a los Usuarios de Neighbourfood®, previa suscripción de los mismos al sitio Web. Es obligación y responsabilidad del Usuario custodiar sus datos y claves de acceso, puesto que son para uso exclusivo del titular de las mismas.</p>


<h2>El contenido del sitio Web</h2>

<p>El Sitio Web puede incluir contenido, información y/o enlaces a sitios Web de terceros, incluyendo de manera enunciativa más no limitativa, los menús, cartas y/o promociones de los cocineros Afiliados, así como fotos y reseñas de sus alimentos y bebidas. Neighbourfood®, no será responsable por el contenido, las ofertas, promociones y publicidad que dichos enlaces o sitios Web de terceros, así como por la disponibilidad de de lo ofrecido por dichos sitios Web.</p>

<p>Neighbourfood®, declara que no verifica la exactitud del contenido de los cocineros, la cual ha sido obtenida de terceros y/o publicada en su página Web. Por lo tanto, Neighbourfood® declara que no ofrece ninguna garantía sobre la información proporcionada por terceros y/o alojados en sitios Web de dichos cocineros, ni respalda a ningún restaurante de contenidos proporcionados por terceros o publicados en sitios Web de terceros.
Asimismo, Neighbourfood® no garantiza que los alimentos y/o bebidas suministradas por los cocineros Afiliados a los usuarios cumplan con la calidad sanitaria y requisitos de consumo necesarios para ser consumidos de manera segura, así como que los cocineros Afiliados cumplan con los requisitos sanitarios legales establecidos en la legislación aplicable.</p>

<p>El usuario se compromete a no compartir material protegido por derechos de autor, secretos comerciales o cualquier elemento de propiedad intelectual protegido por la legislación aplicable propiedad de terceros, incluyendo derechos de privacidad, a menos que el usuario sea el propietario de dichos derechos o cuente con la autorización de su legítimo propietario para publicar el material y para garantizar a Neighbourfood® de todos los derechos citados. El usuario se compromete a no presentar información falsa o engañosa, ilegal, obscena, difamatoria, amenazante, pornográfica, acosadora, odiosa, racial o étnicamente ofensiva o alentar una conducta que se considere un delito por la legislación aplicable.</p>

<p>Al aceptar estos Términos de Uso, los Usuarios declaran y se obligan a liberar a Neighbourfood® de cualquier responsabilidad derivada del uso de la información propiedad de un tercero, o el uso de sitios Web ajenos a éste o relacionados con el mismo, así como del consumo de cualquier alimento o bebidas de los cocineros Participantes.</p>

<p>Los cocineros afiliados que provean de alimentos y bebidas a los usuarios serán en su caso los únicos responsables de proporcionarles los alimentos o bebidas en las condiciones y calidad ofertados por dicho Restaurante afiliado.</p>

<p>Neighbourfood®, no actúa como agente o representante de ningún tipo de los cocineros Afiliados o de terceros que aparecen en el Sitio Web o aplicaciones. Nada de lo establecido en los presentes Términos y Condiciones Generales se interpretará para crear un Joint Venture, asociación o relación de agencia entre el usuario y Neighbourfood®, y el usuario no tendrá derecho o autoridad para incurrir en cualquier responsabilidad, gasto de la deuda o entrar en cualquier contrato u otros acuerdos en o por el nombre de Neighbourfood®. El usuario no podrá ceder o delegar todos o alguno de sus derechos u obligaciones bajo estos Términos y Condiciones Generales, sin el consentimiento previo y por escrito de Neighbourfood®. Neighbourfood® tendrá derecho a ceder o delegar todos o cualquiera de sus derechos u obligaciones bajo estas condiciones de uso a cualquier tercero, sin necesidad de notificación al Usuario, a excepción de la información personal, a la que se le dará el mismo trato descrito en las presentes políticas, términos y condiciones.</p>

<p>Neighbourfood® no se hace responsable de cualquier incumplimiento de las obligaciones bajo estos Términos y Condiciones Generales si se obstaculiza o impide el desempeño de sus obligaciones por caso fortuito o fuerza mayor, entendiéndose cualquier causa que esté fuera del control razonable de Neighbourfood®, incluyendo sin limitar, fuego, rayos, inundaciones, clima extremadamente grave, bloqueos, huelgas, disputas laborales, actos de la naturaleza, disturbios, guerras, daño malicioso, caída de cualquier sistema informático o de telecomunicaciones, cumplimiento de cualquier ley, accidentes o los daños causados por cualquiera de estos eventos.</p>

<h2>Motores de búsqueda</h2>

<p>Neighbourfood® pone a los operadores de motores de búsqueda a disposición del público, tales como Google® y Yahoo®, para utilizar las aplicaciones de software, tales como elementos para copiar materiales del Sitio Web, con el único fin de crear índices de búsqueda de los materiales disponibles. Neighbourfood® se reserva el derecho de retirar el consentimiento en su totalidad o en parte, en cualquier momento, sin previo aviso y sin responsabilidad alguna para Neighbourfood®.</p>

<h2>Nuestro servicio en línea</h2>

<p>Al momento de utilizar el Sitio Web, así como las características de pedidos en línea a través del mismo, el Usuario declara y garantiza que: 1. Es mayor de edad o cuenta con la supervisión de un adulto o tutor; 2. Está de acuerdo en aceptar la responsabilidad completa para todas sus acciones relacionadas con en el Sitio Web y/o con los pedidos en línea; Neighbourfood® se reserva el derecho de rechazar la prestación de los servicios ofrecidos a través del Sitio Web, así como de no permitir el acceso al mismo y/o a los pedidos en línea. Neighbourfood® se reserva el derecho de suspender, restringir o cancelar el acceso al servicio de pedidos online (en línea) o al Sitio Web en cualquier momento.</p>

<h2>Obligaciones sobre la veracidad de la información</h2>

<p>Toda la información que proporcione el Usuario a Neighbourfood®, deberá ser veraz y comprobable. Para estos efectos, el Usuario garantiza la autenticidad de todos los datos proporcionados y las actualizaciones de los mismos, siendo responsable de todos los daños que se deriven de cualquier inexactitud en los mismos.</p>





</div>