<div class="col-xs-12 col-sm-12 col-md-3">
  <div class="thumbnail">
    <%= link_to menu_path(menu) do %>
      <img src="<%= menu_main_img_url(menu) %>" alt="">
    <% end %>
    <div class="caption">
      <h3><%= menu.name %> (<%= menu.pickup_eta_simple %>)</h3>
      <ul>
      <li><%= link_to menu.done_by, household_path(menu.household_id) %></li>
      <li>
        <div class="tooltip-item">
          <%= menu.pickup_place %>
          <div class="tooltip"><p><%= menu.pickup_place_address %></p></div>
        </div>
      </li>
      <li style="color:#ff9900">Hora de entrega: <%= menu.pickup_eta_simple %></li>
      <li><%= menu.price %></li>
      <li><%= menu.left %></li>
      <% if current_user %>
        <li><%= link_to t(:order_now), menu_path(menu) %></li>
      <%else%>
        <li><%= link_to "Regístrate", new_general_user_registration_path %> o <%= link_to "inicia sesión", new_user_session_path %> para ordenar</li>
      <%end%>
    </ul>
    </div>
  </div>
</div>

