<%
title full_title 'Platillos'
description "Todos los días hay un menú diferente de comida, consulta el menú del día y escoge el menú que más te apetezca. "
keywords ['menú', 'comida', 'comida casera', 'cocineros', 'cocineras', 'platillos']
%>

<div class="container">
<h1>Menú de la semana</h1>

<!-- Temporal message -->
<div class="panel panel-default">
  <div class="panel-body">

    Hay 3 maneras en las que puedes hacer tu pedido:
    <ul>
      <li>Por nuestra página web, iniciando en tu sesión</li>
      <li>Por WhatsApp al <a href="tel:+523319513411">(33) 1951 3411</a></li>
      <li>Por <a href="https://www.facebook.com/neighbourfoodmx">inbox</a> a nuestra página de Facebook</li>
    </ul>
    ¡Ahora también puedes programar por adelantado las comidas de toda tu semana! por Whatsapp o inbox.
  </div>
</div>

<% @menus2.each do |k, v| %>
  <% date = DateTime.parse(k.to_s) %>
  <h3><%= l(date, format: :menu_day) %></h3>

  <% if v.any? %>
    <div class="cards">
      <div class="row">
          <% v.each do |menu| %>
           <%= render 'menu_card',  menu: menu  %>   
          <% end %>
      </div>
    </div>
  <% else %>
    <p>¡Aún no hay platillos para este dia!</p>
  <% end %>
<% end %>

<!-- Temporal message -->
<div class="panel panel-default">
  <div class="panel-body">
    NeighbourFood te escucha, si tienes alguna sugerencia de algún platillo, nosotros lo integramos a nuestro menú. Mándanos un correo a <a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a> o vía <a href="https://www.facebook.com/neighbourfoodmx">inbox</a> o Whatsapp (33) 1951 3411.
  </div>
</div>

</div>

