<div class="container">
<h1><%= @menu.name %></h1>

<div class="dish">
  <div class="dish-image">
    <%= image_tag @menu.main_dish.image.url, class: "img-responsive", width: "304" %>
  </div>
  <div class="dish-content">

    <%# Menu Info %>
    <p><%= @menu.description %></p>

    <ul>
      <li><%= @menu.pickup_eta %></li>
      <li><%= @menu.price %></li>
      <li><%= @menu.left %></li>
      <li><%= link_to @menu.done_by, household_path(@menu.household_id) %></li>
      <li>
        <div class="tooltip-item"><%= @menu.pickup_place %>
          <div class="tooltip"><p><%= @menu.pickup_place_address %></p></div>
        </div>
      </li>
    </ul>

  </div>
</div>

<h2>Orden</h2>

<% if current_general_user %>
  <%= render 'general_users/orders/form', order: @order %>
<% else %>
  <%= link_to "Regístrate", new_general_user_registration_path %> o <%= link_to "inicia sesión", new_user_session_path %> para ordenar
<% end %>

</div>