<%= form_for([current_user, payment]) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "payment[order_id]", payment.order_id %>
  <%= hidden_field_tag "payment[payment_type]", 'credit_card' %>

<fieldset>
  <h3>Credit Card Payment</h3>
    <%= f.label :credit_card_type %>
    <%= f.text_field :credit_card_type %>

    <%= f.label :number %>
    <%= f.text_field :number %>

    <%= f.label :expire_month %>
    <%= f.text_field :expire_month %>

    <%= f.label :expire_year %>
    <%= f.text_field :expire_year %>

    <%= f.label :cvv2 %>
    <%= f.text_field :cvv2 %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







