<%= form_for([current_user, menu]) do |f| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# stuff related to dishes %>
  <% if dishes %>
  <% if menu.new_record? %> 

  <div class="form-group">
    <%= f.label :main_dish, t(:main_dish) %><br />
    <%= select_tag("menu[main_dish_id]", options_from_collection_for_select(dishes, :id, :name), class: "form-control") %>
  </div>
  <% end %>
  <% else %>
    <p>Aún no tienes platillos, crealos</p>
  <% end %>

  <div class="form-group">
    <%= f.label :description, t(:description) %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <p>
    <%= f.check_box :block_sale %> :block_sale
  </div>

  <div class="form-group select-date">
    <%= f.label :delivery_eta, t(:eta) %><br>
    <%= f.datetime_select :delivery_eta, :ampm => true, :minute_step => 15 %>
  </div>

  <div class="form-group">
    <%= f.label :delivery_area, t(:delivery_area) %><br>
    <%= select_tag("menu[delivery_area_id]", options_from_collection_for_select(
    delivery_areas, :id, :name, menu.delivery_area_id), class: "form-control") %>
  </div>

  <%= t(:price) %><br>
  <div class="form-group">
    <%= f.label :raw_price, "Neighbourfood agregara una comisión a la venta de $5.0 MXN mas 13%" %><br>
    <%= f.number_field :raw_price, :class => 'text_field', :step => 'any', 
    :value => (number_with_precision(menu.raw_price_simple, :precision => 2) || 0.00), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, t(:quantity) %><br>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t(:create_menu), class: "btn btn-lg btn-default" %>
  </div>
<% end %>
