<div class="container">
<h1>Editing Menu</h1>

<%= render 'form', menu: @menu, dishes: @dishes, delivery_areas: @delivery_areas %>

<%= link_to t(:show), [current_user, @menu] %> |
<%= link_to t(:back), household_menus_path(current_user) %>
</div>