<div class="container">
<h1><%= t(:listing_menus, scope: :households) %></h1>

<% if current_household %>
  <%= link_to t(:new_menu, scope: :households), new_household_menu_path(current_user) %>
<% end %>

<% if @menus.any? %>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entrega</th>
      <th>Disponibles</th>
      <th>Precio</th>
      <th>Comisión</th>
      <th>Ganancias</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.name, household_menu_path(params[:household_id], menu) %></td>
        <td><%= menu.pickup_eta_simple %> en <%= menu.pickup_place %></td>
        <td><%= menu.total_left %>/<%= menu.quantity %></td>
        <td><%= menu.price %></td>
        <td><%= menu.charge %></td>
        <td><%= menu.total_hh_sale %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <p>Aún no tienes menus</p>
<% end %><%# ./if.menus.any %>

<%= paginate @menus %>
</div>