<div class="container menu-show">
<%# ----- House hold options ----- %>

<% if current_household %>
  <%= link_to 'Eliminar', [current_household, @menu], method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Editar', edit_household_menu_path(current_user, @menu) %> |
  <%= link_to 'Regresar', household_menus_path(current_user) %>
<% elsif current_user %>
  <%= link_to 'Order', new_general_user_order_path(current_user, 
    order: {menu_id: @menu.id, household_id: @menu.household.id}) %>
<% else %>
  <p><%= link_to "Regístrate", new_general_user_registration_path %> o <%= link_to "inicia sesión", new_user_session_path %> para ordenar</p>

<% end %>

<%# ----- House hold options ----- %>

<h1><%= @menu.name %></h1>
<% if @menu.block_sale %>
<P>*** LA VENTA DE ESTE MENU ESTA BLOQEUADA ***</P>
<% end %>

<img src="<%= menu_main_img_url(@menu) %>" alt=""><br>

<h3>Descripción</h3>
<p>
<%= @menu.description %>
</p>

<h3>Platillos en el menu</h3>
<p>
<% @menu.menu_dishes.each do |a| %>
    <%if a.dish %>
      <%= a.dish.name %><%= a.is_main_dish ? '* platillo principal' : nil %><br>
    <% end %>
<% end %>
</p>

<h3>Datos de entrega</h3>
<p>
<%= @menu.pickup_place %><br>
<%= @menu.pickup_place_address %><br>
<%= @menu.pickup_eta %><br>
</p>

<h3>Datos de venta</h3>
<p>
Cantidad: <%= @menu.quantity %><br>
Precio sin comisión: <%= @menu.raw_price %><br>
Comisión: <%= @menu.charge %><br>
Precio de venta final: <%= @menu.price %><br>
</p>

<h3>Ventas</h3>
<p>
Unidades vendidas: <%= @menu.number_sold %><br>
Ganancias: <%= @menu.total_hh_sale %><br>
</p>


<h3>Ordenes</h3>
<%= render 'households/orders/table', orders: @orders %>




</div>