Hola <%= @user.name %>,


Por el momento no hay comidas disponibles.

En Neighbour Food trabajamos arduamente para que amas de casa lleven su 
deliciosa comida casera a tu paladar.

En cuanto habilitemos nuestro servicio te informaremos por correo.

Que tengas un excelente día.


Saludos,
Equipo Neighbour Food