<p>Hola <%= @user.name %>,</p>

<p>
Por el momento no hay comidas disponibles.<br>

En Neighbour Food trabajamos arduamente para que amas de casa lleven su 
deliciosa comida casera a tu paladar.<br>

En cuanto habilitemos nuestro servicio te informaremos por correo.<br>

Que tengas un excelente día.
</p>

<p>
Saludos,<br>
Equipo Neighbour Food
</p>