<h1>¡<%= @user.name %> tu orden de <%= @order.menu.name %> ha llegado!</h1>

<p>
  <strong>Menu:</strong>
  <%= @order.menu.name if @order.menu %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>
<% payment = @order.payment %>
<p>
  <strong>Payment ID:</strong>
  <%= payment.id if payment %>
</p>

<p>
  <strong>Transaction ID:</strong>
  <%= payment.transaction_id if payment %>
</p>

<p>
  <strong>Delivery eta:</strong>
  <%= @order.menu.delivery_eta.to_s(:military) if @order.menu %>
</p>

<p>
  <strong>User name:</strong>
  <%= @order.general_user.name %><br>
  <strong>User ID:</strong>
  <%= @order.general_user.id %>
</p>

<p>
  <strong>Comment food:</strong>
  <%= @order.comment_food %>
</p>

<p>
  <strong>Comment order:</strong>
  <%= @order.comment_order %>
</p>