<%
title full_title 'Ingresar'
description "Ingresa a NeighbourFood para empezar a disfrutar del mejor sazón casero en tu domicilio."
keywords ['ingresar', 'NeighbourFood', 'NeighborFood', 'NFood']
%>

<div class="container">
<div class="form-signin">
<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>

  <h2><%= t(:log_in, scope: [:users]) %></h2>

  <div class="form-group">
    <%= f.label :email, t(:email, scope: [:users]) %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, t(:password, scope: [:users]) %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> <%= t(:remember_me, scope: [:users]) %>
      </label>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t(:log_in, scope: [:users]), class: "btn btn-lg btn-default" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>