<div class="container">
<h2><%= t(:edit_profile, scope: [:users])%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, t(:email, scope: :users) %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name, t(:first_name, scope: [:users]) %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, t(:last_name, scope: [:users]) %><br />
    <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, t(:phone, scope: [:users]) %><br />
    <%= f.text_field :phone, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, t(:password, scope: :users) %> <i>(<%= t(:leave_blank_password_info, scope: [:users])%>)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t(:password_confirmation, scope: :users) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t(:update_profile, scope: [:users]), class: "btn btn-lg btn-default" %>
  </div>
<% end %>
</div>