<%= form_for([current_user, order]) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :delivery_eta %><br>
    <%= f.time_select :delivery_eta %>
  </div>
  <div class="field">
    <%= f.label :comment_food %><br>
    <%= f.text_area :comment_food %>
  </div>
  <div class="field">
    <%= f.label :comment_order %><br>
    <%= f.text_area :comment_order %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dish_id %><br>
    <%= f.number_field :dish_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
