<div class="container">
  <h1><%= t(:listing_orders, scope: [:households]) %></h1>

  <div class="btn-toolbar" role="toolbar" aria-label="...">

    <div class="btn-group" role="group" aria-label="...">
      <%= link_to t(:filter_all, scope: [:households]), 
      household_orders_path(current_user), class:"btn btn-default" %>
      <%= link_to t(:filter_expired, scope: [:households]), 
      household_orders_path(current_user, created_before: Time.zone.now), class:"btn btn-default" %>
      <%= link_to t(:filter_comming, scope: [:households]), 
      household_orders_path(current_user, created_after: Time.zone.now), class:"btn btn-default" %>
    </div>

    <div class="btn-group" role="group" aria-label="...">
      <%= link_to t(:filter_all, scope: [:households]), 
      household_orders_path(current_user), class:"btn btn-default" %>
      <%= link_to t(:filter_delivered, scope: [:households]), 
      household_orders_path(current_user, state: :delivered), class:"btn btn-default" %>
      <%= link_to t(:filter_to_deliver, scope: [:households]), 
      household_orders_path(current_user, state: :confirmed), class:"btn btn-default" %>
    </div>

  </div>

  <%= render 'table', orders: @orders %>

</div>
