<div class="container">
<% if @order.state == 'confirmed' %>
<div class="dishes-actions">
  <div class="button-group">
    <label>
        <%= link_to t(:deliver), household_order_deliver_path(current_user, @order), method: :post, class:"button-group-item" %>
    </label>
    <label>
        <%= link_to t(:cancel), household_order_path(current_user, @order), method: :delete, class:"button-group-item" %>
    </label>
  </div>
</div>
<% end %>

<p>
  <strong>Menu:</strong>
  <%= @order.menu.name if @order.menu %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<% payment = @order.payment %>
<p>
  <strong>Payment ID:</strong>
  <%= payment.id if payment %>
</p>

<p>
  <strong>Transaction ID:</strong>
  <%= payment.transaction_id if payment %>
</p>

<p>
  <strong>Delivery eta:</strong>
  <%= @order.menu.delivery_eta.to_s(:military) if @order.menu %>
</p>

<p>
  <strong>User name:</strong>
  <%= @order.general_user.name %><br>
  <strong>User ID:</strong>
  <%= @order.general_user.id %>
</p>

<p>
  <strong>Comment food:</strong>
  <%= @order.comment_food %>
</p>

<p>
  <strong>Comment order:</strong>
  <%= @order.comment_order %>
</p>

<%= link_to 'Regresar', household_orders_path(current_user) %>
</div>