<%= form_for([current_user, delivery_area]) do |f| %>
  <% if delivery_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_area.errors.count, "error") %> prohibited this delivery_area from being saved:</h2>

      <ul>
      <% delivery_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: 'address', class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :radius %><br>
    <%= f.text_field :radius, id: 'radius', class: "form-control" %>
  </div>

  <p>Verifique en el mapa que la ubicación sea correcta</p>

  <div class="form-group">
    <div id="loc_picker" style="width: 500px; height: 400px;"></div>  
 </div>
 
  <%= f.hidden_field :latitude, id: 'latitude' %>
  <%= f.hidden_field :longitude, id: 'longitude' %>
  
  <div class="actions">
    <%= f.submit "Crear área de entrega", class: "btn btn-lg btn-default" %>
  </div>
<% end %>

<script>
$('#loc_picker').locationpicker({
  location: {latitude: 46.15242437752303, longitude: 2.7470703125}, 
  radius: 300,
  inputBinding: {
    latitudeInput: $('#latitude'),
    longitudeInput: $('#longitude'),
    radiusInput: $('#radius'),
    locationNameInput: $('#address')        
  },
  enableAutocomplete: true
});
</script>