<div class="container">

<h1>Lista de Areas de Entrega</h1>

<%= link_to 'Nueva área de entrega', new_household_delivery_area_path(current_user) %>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Radio</th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_areas.each do |delivery_area| %>
      <tr>
        <td><%= delivery_area.name %></td>
        <td><%= delivery_area.address %></td>
        <td><%= delivery_area.latitude %></td>
        <td><%= delivery_area.longitude %></td>
        <td><%= delivery_area.radius %></td>
        <td><%= link_to t(:destroy), household_delivery_area_path(current_user, delivery_area), 
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>