<%= link_to(household_dish_path(params[:household_id], dish)) do %>

<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img src="<%= dish.image.url(:medium) %>" alt="">
    <div class="caption">
      <h3><%= dish.name %></h3>
      <p><%= dish.description %></p>
    </div>
  </div>
</div>

<% end %>