<%= form_for([current_user, dish]) do |f| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t(:name) %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, t(:image) %><br/>
    <% if dish.image.exists? %>
      <%= image_tag dish.image.url(:thumb) %>
    <% end %>
    <%= f.file_field :image  %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, t(:description) %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t(:create_dish, scope: [:households]), class: "btn btn-lg btn-default" %>
  </div>
<% end %>
