<div class="container">
  <h1><%= t(:my_dishes, scope: [:households]) %></h1>

  <div class="row cards">
    
    <% @dishes.each do |dish| %>
     <%= render 'dish_card', dish: dish %>   
    <% end %>

    <% if current_household %>
      <%= link_to(new_household_dish_path(current_user)) do %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="" alt="">
            <div class="caption">
              <h3><%= t(:new_dish, scope: [:households]) %></h3>
              <p><%= t(:new_dish_click, scope: [:households]) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>