<div class="container">
<% if current_household %>
  <div class="btn-group btn-group-margin" role="group">
    <%= link_to t(:new_dish, scope: [:households]), new_household_dish_path(current_user), 
                  class:"btn btn-default" %>
    <%= link_to t(:edit), edit_household_dish_path(current_user, @dish), 
                  class:"btn btn-default" %>
    <%= link_to t(:back), household_dishes_path(current_user), class:"btn btn-default" %>
    <%= link_to t(:destroy), household_dish_path(current_user, @dish), 
                method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
  </div>
<% end %>

<div class="dish">
  <div class="dish-image">
    <%= image_tag @dish.image.url %>
  </div>
  <div class="dish-content">
    <h1><%= @dish.name %></h1>
    <p><%= @dish.description %></p>
  </div>
</div>

</div>