¡Tu orden de <%= @user.name%> ha llegado! (<%= @order.menu.name %>)
==================================

Menu:
<%= @order.menu.name if @order.menu %>


State:
<%= @order.state %>

<% payment = @order.payment %>
Payment ID:
<%= payment.id if payment %>

Transaction ID:
<%= payment.transaction_id if payment %>

Delivery eta:
<%= @order.menu.delivery_eta.to_s(:military) if @order.menu %>

User name:
<%= @order.general_user.name %><br>
User ID:
<%= @order.general_user.id %>

Comment food:
<%= @order.comment_food %>

Comment order:
<%= @order.comment_order %>