NeighbourFood Web App has Started
=================================

Hi Saul,

Neighbourfood web app has started and running.

You can now visit neighbourfood.mx.


* Datetime: <%= Time.zone.now %>
* IP: <%= Socket.ip_address_list %>
* Environment: <%= Rails.env %>


Sincerely,
Neighbourfood Develpment team.
H. Saul Ortigoza - Chief Software Architect