<h1>NeighbourFood Web App has Started</h1>
<p>Hi Saul,<br>
</p>
<p>
  Neighbourfood web app has started and is now running.
</p>
 <p>
  You can now visit <a href="neighbourfood.mx">neighbourfood.mx</a>.
</p>

<ul>
<li>Datetime: <%= Time.zone.now %></li>
<li>IP: <%= Socket.ip_address_list %></li>
<li>Environment: <%= Rails.env %></li>
</ul>

<p>Sincerely,<br>Neighbourfood Develpment team.</p>
<a href="mailto:saul.ortigoza@neighbourfood.mx">H. Saul Ortigoza - Chief Software Architect</a>