NeighbourFood Contact Form
=================================

contact_type: <%= @params[:contact_type] %>
email: <%= @params[:email] %>
name: <%= @params[:name] %>
address: <%= @params[:address] %>
city: <%= @params[:city] %>
state: <%= @params[:state] %>
phone: <%= @params[:phone] %>
message: <%= @params[:message] %>

Sincerely,
Neighbourfood Develpment team.
H. Saul Ortigoza - Chief Software Architect