<fieldset>
<%= form_for([current_user, order]) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "order[delivery_eta]", order.menu.delivery_eta %>
  <%= hidden_field_tag "order[menu_id]", order.menu_id %>
  <%= hidden_field_tag "order[household_id]", order.household_id %>
  <%= hidden_field_tag "order[user_id]", current_user %>

  <p>Recuerda que solo se reciben pedidos hasta una hora antes de la hora de entrega</p>

  <p>Si quieres pagar en efectivo por favor usa whatsapp ((33) 1951 3411) o inbox</p>

  <h3>Domicilio</h3>

  <div class=row>
    <div class="col-sm-6">
      <div class="form-group">
        <%= text_field_tag 'addr_street', nil, placeholder: 'Calle', class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= text_field_tag 'addr_ext_no', nil, placeholder: 'Exterior', class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= text_field_tag 'addr_int_no', nil, placeholder: 'Interior', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= text_field_tag 'addr_bt_streets', nil, placeholder: 'Entre calles', class: "form-control" %>
      </div>
    </div>
  </div>


  <h3>Cantidad de órdenes</h3>

  <div class="form-group">
    <%= f.label :quantity, 'Número de platillos' %><br>
    <%= select_tag('order[quantity]', options_for_select(1..order.menu.total_left), class: "form-control") %>
  </div>

  <h3>Comentarios</h3>

  <div class="form-group">
    <%= f.label :comment_food, t(:comment_food) %><br>
    <%= f.text_area :comment_food, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :comment_order, t(:comment_order) %><br>
    <%= f.text_area :comment_order, class: "form-control" %>
  </div>


  <h3>Pago</h3>

  <div class="form-group">
    <%= f.label :payment_type, t(:payment_type) %><br>
    <p>Por ahora solo soportamos paypal pero estamso trabajando para mejorar y 
      aumentar las opciones.</p>
    <%= select_tag('order[payment_type]', options_for_select(
    [['paypal', 'paypal']]), class: "form-control") %>
    <!-- , ['tarjeta de crédito', 'credit_card'] -->
  </div>

  <div class="form-group">
    <p>
    <%= f.check_box :t_and_c_acepted %> Aceptar <a href="https://docs.google.com/document/d/1pKWN24TRAmfWPMLVq43y6kWTpEKiEmqaRuhHzTdfYk4/edit?usp=sharing">terminos y condiciones</a>
    </p>
  </div>

  <div class="actions">
    <%= f.submit 'ORDENAR', class: "btn btn-lg btn-default" %>
  </div>
<% end %>
</fieldset>







