<fieldset>
<%= form_for([current_user, order]) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :overall_quality, t(:overall_quality) %>
    <%= rating_for @order, "overall_quality", star_path: '/images' %>
  </div>

  <div class="field">
    <%= f.label :comment_rate, t(:comment_rate) %><br>
    <%= f.text_area :comment_rate %>
  </div>

  <div class="actions">
    <%= f.submit t(:rate_order) %>
  </div>
<% end %>
</fieldset>