<% if orders.any? %>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Menu</th>
      <th>Cocinero</th>
      <th>Estado</th>
      <th>Entrega</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, [current_user, order] %></td>
        <td><%= order.name %></td>
        <td><%= order.household_name %></td>
        <td><%= order.state %></td>
        <td><%= order.delivery_eta %> en <%= order.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <p>No hay ordenes</p>
<% end %><%# ./if.orders.any %>


<%= paginate orders %>