<div class="container">

<h2>Orden de <%= @menu.name %></h2>
Por <%= @menu.by_name %>

<p>
  <strong>Hora estimada de entrega:</strong>
  <%= @menu.delivery_eta.to_s(:military) %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Información del pago</strong>
<ul>
  <% quantity = @order.quantity || 1 %>
  <li>Numero de ordenes: <%= quantity %></li>
  <li>Subtotal: $ <%= @menu.price * quantity %> MXN</li>
  <li>IVA: $ 0.00 MXN</li>
  <li>Total: $ <%= @menu.price * quantity %> MXN</li>
  <% payment = @order.payment %>
  <li>ID del pago: <%= payment.id if payment %></li>
  <li>ID de transacción: <%= payment.transaction_id if payment %></li>
</ul>
</p>


<p>
  <strong>Comentarios para la comida:</strong>
  <%= "No hay comentarios" unless @order.comment_food.size > 0 %>
  <%= @order.comment_food %>
</p>

<p>
  <strong>Comentarios para la orden:</strong>
  <%= "No hay comentarios" unless @order.comment_order.size > 0 %>
  <%= @order.comment_order %>
</p>

<% if current_general_user && @order.delivered? %>
  <%= render 'rate_form', order: @order %>
<% elsif current_general_user && @order.rated? %>
<p>
  <%= rating_for @order, "overall_quality", star_path: '/images' %>
  <strong>Comment order:</strong>
  <%= @order.comment_rate %>
</p>
<% end %>

<%= link_to 'Regresar', general_user_orders_path(current_user) %>
</div>