<section>
<h1>Area de entrega</h1>

<div class="row">
  <div class="col-md-6">
    <img src="images/mapa_zona_andares.png" class="img-responsive" alt="Zona Andares">
  </div>
  <div class="col-md-6">
    <p class="lead">El círculo en el mapa indica los lugares a donde actualmente estamos entregando. Si tienes alguna pregunta, no dudes en llamarnos o escribirnos por WhatsApp.</p>

    <%= render 'location_form' %>
  </div>
</div>
</section>