<section>
<h1>¡Sé parte de NeighbourFood!</h1>

<p>
Únete al equipo y sé un socio cocinero, ¡haz que tu sazón
nos recuerde el sabor del hogar!
</p>

<%= link_to 'Más información aquí', contact_cookers_path %>

</section>