<section>
<h1>Haz que NeighbourFood llegue a tu casa u oficina</h1>

<p>
¿Buscas servicios de cocina para tu casa u oficina? ¡Ponte en contacto con

nosotros! Nos encargaremos de que el sazón casero esté cerca de ti.
</p>

<%= link_to 'Más información aquí', contact_service_path %>

</section>