<div class="container-fluid hero-container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron hero">
    <h1>La comida casera y nutritiva a unos clics de distancia</h1>
    <p>Pedir comida a domicilio para recordar el sazón del hogar</p>
    <p>
    <%= form_tag menus_path, :method => 'get', role: "search" do %>
        <%= hidden_field_tag :latitude %>
        <%= hidden_field_tag :longitude %>
        <%= hidden_field_tag :loc_picker %>

        <!-- div class="form-group">
        <%#= text_field_tag :search, params[:search], id:"address", type: "search", 
        class: "form-control", placeholder: "Ingresa Búsqueda" %>
        </div -->

        <button type="submit" class="btn btn-default btn-lg">Mostrar comida en zona Andares GDL</button>
        <a href="/general_users/sign_up" class="btn btn-default btn-lg">Registrarme</a>
    <% end %>
    </p>
  </div>

</div> <!-- /container -->

<!-- script type="text/javascript">
$(".hero").ready(function(){
getLocation();
var loading_loc;

// Initialize geolocation
function getLocation() {
    if (navigator.geolocation) {
      loading_loc = setTimeout(loading_location, 500);
      $('#address').attr('placeholder', 'Detectando Ubicación');
      navigator.geolocation.getCurrentPosition(showPosition, abort_loading_location);
    } else {
      load_locationpicker(20.6744266, -103.38743110000001);
    }
}
function showPosition(position) {
  load_locationpicker(position.coords.latitude, position.coords.longitude);
}
// loading_location
function loading_location() {
  $('#address').attr('placeholder', $('#address').attr('placeholder') + '.')
  loading_loc = setTimeout(loading_location, 500); // repeat myself
}
function abort_loading_location() { 
  clearTimeout(loading_loc);
  $('#address').attr('placeholder', 'Ingresa Búsqueda');
}
//
function load_locationpicker(latitude, longitude) {
  $('#loc_picker').locationpicker({
    location: {latitude: latitude, longitude: longitude},
    radius: 300,
    inputBinding: {
      latitudeInput: $('#latitude'),
      longitudeInput: $('#longitude'),
      radiusInput: $('#radius'),
      locationNameInput: $('#address')
    },
    enableAutocomplete: true,
    oninitialized: function(component) {
        abort_loading_location();
    }
  });
}
});
</script -->