<section>
<h2>¿No estás en la zona?</h2>

<fieldset>
<p>Escribe tu dirección para poder llegar a ti. No olvides suscribirte a nuestro boletín para ser el primero en recibir la notificación.</p>
<%= form_tag '/suscribe_location', method: "post", id: "contact-form" do -%>

  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= text_field :search, :search,   {id: "location",   
          placeholder: "Ubicación e.g. Av. Patria 429-59, Zapopan, Jalisco", 
          class: "form-control", required: true} %>
      </div>
    </div>
    <div class="col-md-3">
      <%= submit_tag("Enviar", class: "btn btn-default btn-block") %>
    </div>
  </div>
<% end %>
</fieldset>

<p>Por el momento sólo estamos en zona Andares GDL.</p>

<p>¡Pronto estaremos cerca de ti!</p>

</section>