<section>
<div class="col-md-offset-2 col-md-8">
<h1>¡Únete a nuestro boletín!</h1>

<fieldset>
<%= form_tag '/subscribe', method: "post", id: "contact-form" do -%>
  <%= hidden_field :subscription, :contact_type, value: :general %>
  <p>Sé el primero en recibir las promociones y el menú de la semana. </p>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <%= email_field :subscription, :email,   {id: "email",   placeholder: "dirección de correo", 
                        class: "form-control"} %>
      </div>
    </div>
    <div class="col-md-3">
      <%= submit_tag("Suscribir", class: "btn btn-default btn-block") %>
    </div>
  </div>
<% end %>
</fieldset>
</div>
</section>