<section>
<h1>Donativos NeighbourFood</h1>

<p>
En NFood nos preocupan las condiciones de hambruna de miles de

personas en nuestro país, por lo que destinamos un porcentaje de 

nuestras ganancias para apoyar a los que pasan por esta situación.
</p>

<%= link_to 'Ser parte de esta causa', contact_general_path %>
</section>