<%
quotes = [
{image: "", 
  quote: "Una felicitación! Esta muy rica la comida y bien servida!", 
  author: "Laura, Oracle"},
{image: "", 
  quote: "Muy buena eh... La neta si tiene sabor de hecho en casa", 
  author: "Jorge Castillo, Oracle"},
{image: "", 
  quote: "Me gustó que viniera con tortillas, el agua está muy rica y una cosa que me gustó mucho es que no viene en unicel.", 
  author: "Ahtziri Soto, Abogada"}
]
%>
<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Lo que dicen nuestros clientes</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <% quotes.each_with_index do |q, i| %>
            <div class="item <%= 'active' if i == 0 %>">
              <blockquote>
                <div class="row">
                  <!-- div class="col-sm-3 text-center">
                    <img class="img-circle" src="<%= q[:image] %>" style="width: 100px;height:100px;">
                  </div-->
                  <div class="col-sm-offset-1 col-sm-10">
                    <p><%= q[:quote] %></p>
                    <small><%= q[:author] %></small>
                  </div>
                </div>
              </blockquote>
            </div>
          <% end %>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    //Set the carousel options
    $('#quote-carousel').carousel({
      pause: true,
      interval: 4000,
    });
  });
</script>