<section>
  <div class="container">
  <div class="cards">
    <div class="row">
      <% samples.each do |sample| %>
        <div class="col-sm-6 col-md-4">
          <article class="thumbnail">
            <img src="<%= sample.image.url(:medium) %>">
          </article>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</section>