<%
title full_title
description "La mejor comida del vecindario a unos clics de distancia. Ordena y 
recibe en tu domicilio, come sano, come completo come casero. "
%>

<img class="img-responsive" src="images/manteinance.jpg">

<%#= render 'hero' %>
<div class="container">

<%= render 'quote_carousel' %>
<hr>
<%= render 'andares_map' %>
<hr>
<%= render 'news_subscriptions' %>
</div>