<div class="container">
<h2><%= t(:sign_up, scope: [:users]) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, t(:email, scope: [:users]) %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name, t(:first_name, scope: [:users]) %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, t(:last_name, scope: [:users]) %><br />
    <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, t(:phone, scope: [:users]) %><br />
    <%= f.text_field :phone, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, t(:avatar, scope: [:users]) %>
    <% if resource.avatar.exists? %>
      <%= image_tag resource.avatar.url(:thumb) %>
    <% end %>
    <%= f.file_field :avatar  %>
  </div>

  <div class="form-group">
    <%= f.label :password, t(:password, scope: [:users]) %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t(:password_confirmation, scope: [:users]) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t(:sign_me_up, scope: [:users]), class: "btn btn-lg btn-default" %>
  </div>
<% end %>

<%= render "households/shared/links" %>
</div>