.hero-container {

  width: 100%;
  padding: 0;
  text-align: center;

  .jumbotron {
    border-radius: 0;
  }

  .hero { 
    $hero-background-top: #7F99BE; 
    $hero-background-bottom: #20392B;
    $hero-color: white;
    $gradient-angle: 10deg;
    $hero-image: '/images/food_banner2.jpg';

    @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), 
      no-repeat $hero-background-top scroll);
    background-size:     cover;

    h1 {
      color: $hero-color;
    }

    p {
      color: $hero-color;
    }

    form {
      max-width: 800px;
      margin:0 auto;
    }

  }

}