body{
  margin-top: 50px;
}

.alert {
  margin: 0;
}

.btn-group-margin {
  margin-bottom: 10px;
}

.contact-form {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}

.cards {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-flex: 1 1 auto;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}
