<div class="container">
<h1>Perfil</h1>
<ul>
<li><%= @user.name %></li>
<li><%= @user.email %></li>
<li><%= @user.phone %></li>
</ul>
<%= link_to t(:edit) , edit_general_user_registration_path %>
</div>