<footer>
<div class="container">

  <div class="footer-logo">
    <img src="/images/NF_icon_logo.png" alt="Logo image">
  </div>

  <div class="row footer-links">

    <div class="col-sm-12 col-md-2">
      <h6>COMPAÑÍA</h6>
      <ul>
        <li><a href="<%= company_path %>#company">Sobre Nosotros</a></li>
        <li><a href="<%= contact_general_path %>">Contacto</a></li>
        <li><a href="<%= company_path %>#jobs">Bolsa de Trabajo</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-2">
      <h6>LEGAL</h6>
      <ul>
        <li><a href="<%= legal_path %>#termns">Términos de Servicio</a></li>
        <li><a href="<%= legal_path %>#privacy">Política de Privacidad</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-2">
      <h6>AYUDA</h6>
      <ul>
        <li><a href="<%= help_path %>#faq">FAQ</a></li>
        <li><a href="<%= help_path %>#guides">Guías de Ayuda</a></li>
        <li><a href="<%= help_path %>#resources">Descargar Recursos</a></li>
        <li><a href="<%= help_path %>#support">Contacta a Soporte</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <h6>CONTÁCTANOS</h6>
      <ul>
        <li><a href="tel:+523319513411">+52 (33) 1951 3411</a></li>
        <li><a href="mailto:contacto@neighbourfood.mx">contacto@neighbourfood.mx</a></li>
        <li><a href="<%= contact_cookers_path %>">Contacto Cocineros</a></li>
        <li><a href="<%= contact_service_path %>">Contacto Servicio</a></li>
        <li><a href="<%= contact_general_path %>">Contacto Donativos</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <h6>SÍGUENOS</h6>
      <ul>
        <li><a href="https://www.facebook.com/neighbourfoodmx">Facebook</a></li>
        <li><a href="https://twitter.com/neighbourfoodmx">Twitter</a></li>
        <li><a href="https://www.instagram.com/neighbourfoodmx/">Instagram</a></li>
        <li><a href="javascript:void(0)">YouTube</a></li>
      </ul>
    </div>

  </div>
  <!--/row-->

  <hr>

  <p>NeighbourFood 2016 - v<%=  NeighbourFood.version %></p>

</div>
</footer>

<script>
  ga('send', 'pageview', '<%= request.path %>');
</script>