<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="false">
        <%= current_user.name %>
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse collapse-buttons" id="navbar-collapse-2">
      <ul class="nav navbar-nav">
      <li class="nav-link"><%= link_to t(:my_orders, scope: [:navigation]), general_user_orders_path(current_user) %></li>
      <li class="nav-link"><%= link_to t(:profile, scope: [:navigation]), general_user_path(current_user) %></li>
    </ul>
    </div>
  </div>
</nav>