<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        <%= current_user.name %>
      </button>
    </div>

    <div class="collapse navbar-collapse collapse-buttons" id="navbar-collapse-2">
      <ul class="nav navbar-nav">
      <li class="nav-link"><%= link_to t(:my_orders, scope: [:navigation]), 
      household_orders_path(current_user) %></li>
      <li class="nav-link"><%= link_to t(:my_dishes, scope: [:navigation]), 
      household_dishes_path(current_user) %></li>
      <li class="nav-link"><%= link_to t(:day_menu, scope: [:navigation]), 
      household_menus_path(current_user) %></li>
      <li class="nav-link"><%= link_to t(:delivery_area, scope: [:navigation]), 
      household_delivery_areas_path(current_user) %></li>
      <li class="nav-link"><%= link_to t(:profile, scope: [:navigation]), 
      household_path(current_household) %></li>
    </ul>
    </div>
  </div>
</nav>