<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <%= link_to 'NEIGHBOURFOOD', root_path, class: "navbar-brand" %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-link"><%= link_to t(:help, scope: [:navigation]), help_path %></li>
        <li class="nav-link"><%= link_to 'Conviértete en Cocinero', contact_cookers_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="tel:+523319513411">WhatsApp: (33) 1951 3411</a></li>
        <% if current_user %>
          <li><%= link_to t(:log_out, scope: [:users]), destroy_user_session_path, 
          method: :delete, class: "sign-up" %></li>
        <% else %>
          <li><%= link_to t(:log_in, scope: [:users]), new_user_session_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<% case current_user.class.name %>
  <% when 'GeneralUser' %>
    <%= render 'layouts/general_user_nav' %>
  <% when 'Household' %>
    <%= render 'layouts/household_nav' %>
<% end %>
</header>