<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="<%= meta_author %>">
  <%= metamagic title: full_title, 
                author: meta_author,
                description: meta_description, 
                keywords: meta_keywords %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/universal_google_analytics' %>
  <%= render 'layouts/javascript_apis' %>
  <%= render 'layouts/fonts' %>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= render partial: "layouts/flash_messages", flash: flash %> 

<div class="wrapper">
	<%= yield %>
  <%#= debug(params) if Rails.env.development? %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
