<div class="container">
<h1><%= t :profile %></h1>
<%= image_tag @household.avatar.url(:thumb) %>
<ul>
<li><%= t :name %>: <%= @household.name %></li>
<li><%= t :email %>: <%= @household.email %></li>
<li><%= t :phone %>: <%= @household.phone %></li>
</ul>

<%= link_to "Platillos de #{@household.name}", household_dishes_path(@household) %><br>

<% if current_household %>
  <%= link_to t(:edit) , edit_household_registration_path %>
<% end %>
</div>